<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Links for You!</title>

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/site.css" rel="stylesheet">

	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<div class="container">
	<h1>🐦 Magpie</h1>
	<div class="row">

	<div class="col-md-2">
	<h2><span class="glyphicon glyphicon-tags"></span> Tags</h2>
	<p>
		<div class="list-group">
			<a class="list-group-item link-container" href="/">All</a>
			{{range $index, $link := .User.Tags}}
			<a class="list-group-item link-container" href="/?tag={{.}}">
				{{.}}
			</a>
			{{end}}
		</div>
	</p>
	</div>

	<div class="col-md-8">
	<form action="/add" method="post" class="form-inline">
		<input name="url" class="form-control"/>
		<input type="submit" value="Save it for later" class="btn btn-primary"/>
	</form>
	<p>
		<div class="list-group">
			{{ if not .Links }}
			<h4 class="text-center" style="padding-top:25px;">no links found</h4>
			{{ end }}
			{{range $index, $link := .Links}}
			<a class="list-group-item link-container" href="{{$link.URL}}" target="_BLANK">
				
				<form action="/link/{{(index $.LinkKeys $index).Encode}}" method="post" class="hide-on-edit">
					<button type="submit" class="btn btn-link pull-right">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</form>
				
				<button class="btn btn-link pull-right edit-btn hide-on-edit">
					<span class="glyphicon glyphicon glyphicon-pencil"></span>
				</button>
				
				<button class="btn btn-link pull-right tag-btn hide-on-edit">
					<span class="glyphicon glyphicon-tag"></span>
				</button>
				
				<input type="hidden" class="tag-list" value="{{range $tag := .Tags}} {{$tag}}, {{end}}"/>

				<h4 class="link-title hide-on-edit">{{$link.Title}}</h4>
				<div class="input-group edit-ctrls show-on-edit" style="display:none;">
					<span class="input-group-btn">
						<button class="btn btn-default update-btn" type="button">Update</button>
						<button class="btn btn-default cancel-btn" type="button">Cancel</button>
					</span>
					<input type="text" class="form-control link-title-input" value="{{$link.Title}}">
					<input type="hidden" value="{{(index $.LinkKeys $index).Encode}}"/>
				</div>
				<p class="link-added">
					<script>document.write(new moment.unix( {{$link.Added.Unix}} ).local().format("dddd, MMMM Do YYYY, h:mm:ss a"));</script>
				</p>
			</a>
			{{end}}
		</div>
	</p>
	</div>

	</div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>

function showEdit(editBtn) {
	hideEdit();
	$parentItem = $(editBtn).parents('.link-container');
	$parentItem.children('.hide-on-edit').hide();
	$parentItem.children('.show-on-edit').show();
}

function hideEdit() {
	$('.show-on-edit').hide();
	$('.hide-on-edit').show();
}

var isTitleEdit = false;

$('.tag-btn').click(function(event){
	event.preventDefault();
	var taglist =  $(this).parents('.link-container').children('.tag-list').val();
	$('.edit-ctrls').children('.link-title-input').val(taglist);
	showEdit(this);
	isTitleEdit = false;
});

$('.edit-btn').click(function(event){
	event.preventDefault();
	var title = $(this).parents('.link-container').children('.link-title').html();
	$('.edit-ctrls').children('.link-title-input').val(title)
	showEdit(this);
	isTitleEdit = true;
});

$('.edit-ctrls .cancel-btn').click(function(event){
	event.preventDefault();
	hideEdit();
	var oldTitle = $(this).parents('.link-container').children('.link-title').html();
	$('.edit-ctrls').children('.link-title-input').val(oldTitle);
});

$('.edit-ctrls .update-btn').click(function(event){
	event.preventDefault();
	hideEdit();

	var key = $(this).parents('.input-group-btn').next().next().val();

	if(isTitleEdit) {
		var newTitle = $(this).parents('.edit-ctrls').children('.link-title-input').val();
		$(this).parents('.link-container').children('.link-title').text(newTitle);
		$.post('/edittitle', { Key : key, Title : newTitle });
	} else {
		var newTags = $(this).parents('.edit-ctrls').children('.link-title-input').val();
		$(this).parents('.link-container').children('.tag-list').val(newTags);
		$.post('/edittags', { Key : key, Tags : newTags });
	}
});

$('.edit-ctrls input').click(function(event){
	event.preventDefault();
});

</script>
</body>
</html>
